@page
@model E_Commerce.Pages.Basket.BasketDetailModel
@{
    ViewData["Title"] = "BasketDetail";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Basket</title>
    </head>
    <body>
        <a href="@Url.Action("Index", "Home")">Home</a>
        <a href="@Url.Action("Receipt", "Checkout")">Checkout</a>

        <h1>Basket from home page</h1>

        @*@foreach (var basketItem in Model.BasketItem)
    {
    <div class="basketItems">
        <h3>@Html.DisplayFor(item => basketItem.Name)</h3>
        <img src="@Html.DisplayFor(item => basketItem.Image)" />
        <p>Price: $@Html.DisplayFor(item => basketItem.Price)</p>
        <p>Price: $@Html.DisplayFor(item => basketItem.Quanity)</p>*@
        @*<a asp-page="ShoppingDetail" asp-route-id="@product.ID">Details</a>*@
    </div>
    }
    </body>
    </html>

