@page
@model IEnumerable<E_Commerce.Models.ViewModels.BasketDetailViewModel>
@{
    ViewData["Title"] = "BasketDetail";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Basket</title>
    </head>
    <body>
        <a href="@Url.Action("Index", "Home")">Home</a>

        <h1>Basket</h1>

        @foreach (var basketItem in @Model)
        {
    <div class="basketItems">
        <h3>@basketItem.Name</h3>
        <img src="@basketItem.Image)" />
        <p>Price: $@basketItem.Price)</p>
        <form>
            <p>Price: $@Html.DisplayFor(basketItem => basketItem.Quanity)</p>
            <a asp-page="ShoppingDetail" asp-route-id="@basketItem.ID">Details</a>
        </form>
        <form>
            <p>Price: $@Html.DisplayFor(basketItem => basketItem.Quanity)</p>
            <a asp-page="ShoppingDetail" asp-route-id="@basketItem.ID">Details</a>
        </form>
    </div>
        }
    </body>
    </html>

