@page  
@model E_Commerce.Pages.Basket.BasketDetailModel
@{
    ViewData["Title"] = "BasketDetail";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Basket</title>
</head>
<body>
    <a href="@Url.Action("Index", "Home")">Home</a>

    <h1>Basket</h1>

    @foreach (var basketItem in @Model.BasketItem)
    {
        <div class="basketItems">
            <h3><a asp-page="../Shop/ShoppingDetail" asp-route-id="@basketItem.ProductID">@basketItem.Name</a></h3>
            <img src="@basketItem.Image)" />
            <p>Price: $@basketItem.Price)</p>
            <form asp-action="update" method="post">
                <input type="hidden" asp-for="@basketItem.ID" value="@basketItem.ID" />
                <label for="quanity">Quantity</label>
                <input type="number" asp-for="@basketItem.Quanity" value="@basketItem.Quanity" min="1" />
                <button type="submit">Update Quantity</button>
            </form>
            <form asp-action="delete" method="delete">
                <input type="hidden" asp-for="@basketItem.ID" value="@basketItem.ID" />
                <button type="submit">Delete From Basket</button>
            </form>
        </div>
    }
    
    <a href="@Url.Action("Receipt", "Checkout")">Checkout</a>
</body>
</html>

