@using Microsoft.AspNetCore.Identity
@using E_Commerce.Models;
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>

            @if (SignInManager.IsSignedIn(User))
            {
            <div class="loggedIn">
                <span> Welcome @User.Claims.FirstOrDefault(greet => greet.Type == "FullName").Value</span>
                <a href="@Url.Action("Index", "Home")">Home</a>
                <a href="@Url.Action("Shopping", "Shop")">Shop</a>
                <a href="@Url.Action("Default", "Basket")">Basket</a>

                <form id="logoutButton" asp-page="/Account/Logout">
                    <button type="submit">Logout</button>
                </form>
            </div>
            }
            else
            {
                <div class="loginTags">
                    <a asp-page="/Account/Login"> Login </a>
                    <a asp-page="/Account/Register"> Register Account </a>
                </div>
            }

        </header>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>
